# PyHack - Setup DataFrame

## Import Dependencies

In [601]:
# Import dependencies
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load
data_breaches_csv = Path("../Resources/balloon_race_data_breaches.csv")
data_breaches_countries_csv = Path("../Resources/databreach_country_coords.xls")

## Import Data to Pandas DataFrames

In [602]:
# Import Data from CSV files as Pandas DataFrames
dBreaches_df = pd.read_csv(data_breaches_csv)
dBreaches_location_df = pd.read_excel(data_breaches_countries_csv)

In [603]:
# Print the First 3 Rows of dBreaches DataFrame
dBreaches_df.head(3)

,organisation,alternative name,records lost,year,date,story,sector,method,interesting story,data sensitivity,displayed records,Unnamed: 11,source name,1st source link,2nd source link,ID
0,Plex,NaN,"15,000,000",2022,Aug-22,"Intruders access password data, usernames, and...",web,hacked,NaN,1.0,NaN,NaN,Ars technica,https://arstechnica.com/information-technology...,NaN,418
1,Twitter,NaN,"5,400,000",2021,Dec-21,Zero day vulnerability allowed a threat actor ...,web,hacked,NaN,2.0,NaN,NaN,Bleeping Computer,https://www.bleepingcomputer.com/news/security...,NaN,419
2,Shanghai Police,NaN,"500,000,000",2022,Jul-22,A database containing records of over a billio...,financial,hacked,NaN,5.0,"""one billion""",NaN,The Register,https://www.theregister.com/2022/07/05/shangha...,NaN,420

In [604]:
# Print the First 3 Rows of dBreaches_location DataFrame
dBreaches_location_df.head(3)

      organisation           Location, Latitude, Longitude
0             Plex      Los Gatos, USA, 37.2350, -121.9629
1          Twitter  San Francisco, USA, 37.7749, -122.4194
2  Shanghai Police      Shanghai, China, 31.2304, 121.4737

## Clean dBreaches_location_df

In [605]:
# Split the single Column by comma to extract City, Country, Latitude and Longitude
dBreaches_location_df[['city', 'country', 'latitude', 'longitude']] = dBreaches_location_df['Location, Latitude, Longitude'].str.split(',', expand=True)

In [606]:
# Drop the Combined Column
dBreaches_location_df = dBreaches_location_df.drop('Location, Latitude, Longitude', axis=1)

In [607]:
# Drop Duplicate Rows from dBreaches_location_df
dBreaches_location_df = dBreaches_location_df.drop_duplicates()

In [608]:
# Strip preceding white space from dBreaches_location_df
dBreaches_location_df['latitude'] = dBreaches_location_df['latitude'].str.strip()
# Strip preceding white space from dBreaches_location_df
dBreaches_location_df['longitude'] = dBreaches_location_df['longitude'].str.strip()

In [609]:
# Drop Rows lacking Latitude value
dBreaches_location_df = dBreaches_location_df[dBreaches_location_df["latitude"].str.contains("N/A") == False]

In [610]:
# Change latitude and longitude Column to integer data type
dBreaches_location_df['latitude'] = dBreaches_location_df['latitude'].astype(float)
dBreaches_location_df['longitude'] = dBreaches_location_df['longitude'].astype(float)

In [614]:
# Check DataFrame
dBreaches_location_df

,organisation,city,country,latitude,longitude,coordinates
0,Plex,Los Gatos,USA,37.235000,-121.962900,"[37.235, -121.9629]"
1,Twitter,San Francisco,USA,37.774900,-122.419400,"[37.7749, -122.4194]"
2,Shanghai Police,Shanghai,China,31.230400,121.473700,"[31.2304, 121.4737]"
3,"City of Amagasaki, Japan",Amagasaki,Japan,34.730300,135.579500,"[34.7303, 135.5795]"
5,Heroku,San Francisco,USA,37.774900,-122.419400,"[37.7749, -122.4194]"
...,...,...,...,...,...,...
410,Automatic Data Processing,Roseland,USA,40.820100,-74.302400,"[40.8201, -74.3024]"
411,KDDI,Tokyo,Japan,35.682839,139.759455,"[35.682839, 139.759455]"
412,Hewlett Packard,Palo Alto,USA,37.441900,-122.143000,"[37.4419, -122.143]"
413,Ameritrade Inc.,Omaha,USA,41.256500,-95.934500,"[41.2565, -95.9345]"
415,Cardsystems Solutions Inc.,Atlanta,USA,33.749000,-84.388000,"[33.749, -84.388]"

In [612]:
# Create Coordinates Column for GeoJSON Compatibility
dBreaches_location_df['coordinates'] = dBreaches_location_df[['latitude', 'longitude']].apply(list, axis=1)

In [617]:
# Check Unique Countries
dBreaches_location_df['country'].unique()

array(['USA', 'China', 'Japan', 'Sri Lanka', 'Russia', 'Switzerland',
       'Canada', 'Indonesia', 'Taiwan', 'United Kingdom', 'South Africa',
       'India', 'Estonia', 'Germany', 'Brazil', 'France', 'Italy',
       'Sweden', 'Netherlands', 'Israel', 'Australia', 'Bulgaria',
       'South Korea', 'Singapore', 'Hong Kong', 'Belgium', 'USA.',
       'United Arab Emirates', 'Norway', 'Panama', 'Philippines', 'Syria',
       "United Arab Emirates (although it's developed by)", 'Luxembourg',
       "USA (Experian's North American headquarters)", 'Serbia', 'Turkey',
       'Greece', 'Puerto Rico', 'Chile'], dtype=object)

In [616]:
# Strip preceding white space from each Country
dBreaches_location_df['country'] = dBreaches_location_df['country'].str.strip()

In [618]:
# Correct Country List
dBreaches_location_df['country'] = dBreaches_location_df['country'].replace("USA (Experian's North American headquarters)", 'USA')
dBreaches_location_df['country'] = dBreaches_location_df['country'].replace('USA.', 'USA')
dBreaches_location_df['country'] = dBreaches_location_df['country'].replace("United Arab Emirates (although it's developed by)", 'United Arab Emirates')

In [619]:
# Check Unique Cities
dBreaches_location_df['city'].unique()

array(['Los Gatos', 'San Francisco', 'Shanghai', 'Amagasaki', 'Atlanta',
       'Colombo', 'Novosibirsk', 'Olympia', 'Geneva', 'Calgary', 'Tokyo',
       'Menlo Park', 'Scottsdale', 'Jakarta', 'New Taipei City', 'Ellon',
       'Santa Clara', 'Johannesburg', 'Chennai', 'Seattle', 'Tampa',
       'Dallas', 'Sammamish', 'Bellevue', 'Tallinn', 'Chichester',
       'Sunnyvale', 'Wolfsburg', 'Chicago', 'New Delhi', 'New York City',
       'Denver', 'São Paulo', 'Philadelphia', 'Frankfurt', 'Paris',
       'Manchester', 'Austin', 'Rome', 'Stockholm', 'Boston',
       'Lake Worth', 'Santa Monica', 'Shenzhen', 'Kyoto', 'Arlington',
       'London', 'Redmond', 'The Hague', 'Hook', 'Nottingham',
       'Welwyn Garden City', 'Bethesda', 'San Jose', 'Jerusalem',
       'Las Vegas', 'Regensburg', 'Wawa', 'Lévis', 'Washington',
       'Secaucus', 'Canberra', 'Sydney', 'Mumbai', 'Toyota City',
       'Palo Alto', 'Los Angeles', 'Berlin', 'Irvine', 'Moscow',
       'Gurugram', 'Israel', 'Bellingham', 'Miami', 'Toronto', 'Sofia',
       'McLean', 'Seoul', 'Lake Mary', 'Singapore', 'Tallahassee',
       'Hong Kong', 'Mountain View', 'Brussels', 'St. Louis', 'Or Yehuda',
       'Dubai', 'Baltimore', 'Oslo', 'Cologne', 'Beverly Hills',
       'Round Rock', 'Milan', 'City of Industry', 'Petah Tikva',
       'Borlänge', 'Montreal', 'Vancouver', 'Panama City', 'Manila',
       'Damascus', 'Phoenix', 'Carpinteria', 'Dublin', 'Saint Petersburg',
       'Maidenhead', 'Melbourne', 'Campbell', 'Luxembourg', 'Yuba City',
       'Mountlake Terrace', 'Sharjah', 'Carrollton', 'Costa Mesa',
       'Indianapolis', 'Franklin', 'Belgrade', 'Culver City',
       'Bloomington', 'Istanbul', 'Framingham', 'Hainan', 'Newark',
       'Poughkeepsie', 'Deerfield', 'Downers Grove', 'Roubaix',
       'Cupertino', 'Montreuil', 'Fort Meade', 'Redwood City',
       'Cedar Rapids', 'Portland', 'Oklahoma City', 'Newbury',
       'Minneapolis', 'Beijing', 'Columbia', 'Sacramento', 'Binghamton',
       'Hollywood', 'Hamburg', 'Athens', 'New Hampshire',
       'South Weymouth', 'New Haven', 'Irving', 'San Mateo', 'Milwaukee',
       'Rockville', 'Stamford', 'Rancho Mirage', 'Spartanburg',
       'San Diego', 'Markham', 'Salem', 'College Point', 'Jacksonville',
       'Chattanooga', 'San Juan', 'Columbus', 'Lafayette', 'Bronx',
       'Cleveland', 'Princeton', 'Norcross', 'Richmond', 'Berkeley',
       'Birmingham', 'Scarborough', 'Coral Gables', 'Calabasas',
       'Stanford', 'Salt Lake City', 'Santiago', 'Bonn', 'United Kingdom',
       'Weston', 'Bristol', 'Omaha', 'Roseland'], dtype=object)

In [620]:
# Check City Value Counts
dBreaches_location_df['city'].value_counts()

New York City    22
London           21
San Francisco    18
Atlanta           9
Tokyo             8
                 ..
Toyota City       1
Mumbai            1
Sydney            1
Secaucus          1
Roseland          1
Name: city, Length: 181, dtype: int64

In [621]:
# Drop Rows containing non-city names in City Column
dBreaches_location_df = dBreaches_location_df[dBreaches_location_df["city"].str.contains("No State/Country Info found") == False]
dBreaches_location_df = dBreaches_location_df[dBreaches_location_df["city"].str.contains("No specific headquarters") == False]

In [622]:
# Check Data Types
dBreaches_location_df.dtypes

organisation     object
city             object
country          object
latitude        float64
longitude       float64
coordinates      object
dtype: object

In [637]:
dBreaches_location_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 0 to 415
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   organisation  333 non-null    object
 1   city          333 non-null    object
 2   country       333 non-null    object
 3   latitude      333 non-null    float64
 4   longitude     333 non-null    float64
 5   coordinates   333 non-null    object
dtypes: float64(2), object(4)
memory usage: 18.2+ KB

## Clean dBreaches_df

In [623]:
# Standardise Header Row
dBreaches_df.columns = dBreaches_df.columns.str.lower()

In [624]:
# Check Column Headers
dBreaches_df.columns

Index(['organisation', 'alternative name', 'records lost', 'year   ', 'date',
       'story', 'sector', 'method', 'interesting story', 'data sensitivity',
       'displayed records', 'unnamed: 11', 'source name', '1st source link',
       '2nd source link', 'id'],
      dtype='object')

In [625]:
# Drop Duplicates Rows from dBreaches_df
dBreaches_df = dBreaches_df.drop_duplicates()

In [626]:
# Drop unnamed Column
dBreaches_df = dBreaches_df.drop('unnamed: 11', axis=1)

# Split date Column to extract Month
dBreaches_df[['date', 'temp']] = dBreaches_df['date'].str.split('-', expand=True)

# Split sector Column to separate into sector and secondary sector
dBreaches_df[['sector', 'secondary sector']] = dBreaches_df['sector'].str.split(',', expand=True)

In [627]:
# Drop Temporary Column
dBreaches_df = dBreaches_df.drop('temp', axis=1)

# Drop 2nd source link Column
dBreaches_df = dBreaches_df.drop('2nd source link', axis=1)

# Rename date Column
dBreaches_df = dBreaches_df.rename(columns={"date": "month"})

# Rename 'year   ' Column
dBreaches_df = dBreaches_df.rename(columns={"year   ": "year"})

# Rename 1st source link Column
dBreaches_df = dBreaches_df.rename(columns={"1st source link": "source link"})

# Replace oops! text in method Column
dBreaches_df['method'] = dBreaches_df['method'].replace('oops!', 'accident')

# Remove spaces from sector Column
dBreaches_df['sector'] = dBreaches_df['sector'].str.replace(' ', '')

In [628]:
# Remove all Digits from month Column
dBreaches_df['month'] = dBreaches_df['month'].str.replace('\d+', '')

/var/folders/_6/tq2832l10c75gwmjp1dpv9bw0000gn/T/ipykernel_46976/2835065297.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  dBreaches_df['month'] = dBreaches_df['month'].str.replace('\d+', '')

In [629]:
# Check Column Headers
dBreaches_df.columns

Index(['organisation', 'alternative name', 'records lost', 'year', 'month',
       'story', 'sector', 'method', 'interesting story', 'data sensitivity',
       'displayed records', 'source name', 'source link', 'id',
       'secondary sector'],
      dtype='object')

In [630]:
# Reorder Columns
dBreaches_df = dBreaches_df[['id', 'organisation', 'records lost', 'month', 'year',\
                             'sector', 'method', 'data sensitivity', 'story', 'source name', 'source link']]

In [634]:
# Check Structure of DataFrame
dBreaches_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 410 entries, 0 to 416
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                410 non-null    int64
 1   organisation      410 non-null    object
 2   records lost      410 non-null    object
 3   month             410 non-null    object
 4   year              410 non-null    int64
 5   sector            410 non-null    object
 6   method            410 non-null    object
 7   data sensitivity  410 non-null    float64
 8   story             410 non-null    object
 9   source name       410 non-null    object
 10  source link       410 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 38.4+ KB

In [632]:
# Drop Rows containing NaNs from Merged DataFrame
dBreaches_df = dBreaches_df.dropna()

In [633]:
# Check Data Types of Each Column
dBreaches_df.dtypes

id                    int64
organisation         object
records lost         object
month                object
year                  int64
sector               object
method               object
data sensitivity    float64
story                object
source name          object
source link          object
dtype: object

In [636]:
# Remove Non-Digit Characters in 'records lost' Column
dBreaches_df['records lost'] = dBreaches_df['records lost'].str.replace(r'\D+', '')

/var/folders/_6/tq2832l10c75gwmjp1dpv9bw0000gn/T/ipykernel_46976/1561325110.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  dBreaches_df['records lost'] = dBreaches_df['records lost'].str.replace(r'\D+', '')

In [638]:
# Change 'records lost' and 'data sensitivity' Columns to integer data type
dBreaches_df['records lost'] = dBreaches_df['records lost'].astype(int)
dBreaches_df['data sensitivity'] = dBreaches_df['data sensitivity'].astype(int)

In [640]:
# Check Data Types of Each Column again
dBreaches_df.dtypes

id                   int64
organisation        object
records lost         int64
month               object
year                 int64
sector              object
method              object
data sensitivity     int64
story               object
source name         object
source link         object
dtype: object

In [641]:
# Check DataFrame
dBreaches_df.head(5)

,id,organisation,records lost,month,year,sector,method,data sensitivity,story,source name,source link
0,418,Plex,15000000,Aug,2022,web,hacked,1,"Intruders access password data, usernames, and...",Ars technica,https://arstechnica.com/information-technology...
1,419,Twitter,5400000,Dec,2021,web,hacked,2,Zero day vulnerability allowed a threat actor ...,Bleeping Computer,https://www.bleepingcomputer.com/news/security...
2,420,Shanghai Police,500000000,Jul,2022,financial,hacked,5,A database containing records of over a billio...,The Register,https://www.theregister.com/2022/07/05/shangha...
3,421,"City of Amagasaki, Japan",500000,Jun,2022,government,accident,3,An unnamed government official lost his bag af...,BBC,https://www.bbc.co.uk/news/world-asia-61921222
4,417,Dubai Real Estate Leak,800000,May,2022,financial,inside job,1,"Data leak exposes how criminals, officials, an...",E24,https://e24.no/internasjonal-oekonomi/i/Bj97B0...

## Merge DataFrames

In [644]:
# Merge DataFrames
merged_dBreaches_df = dBreaches_df.merge(dBreaches_location_df,on=['organisation'])

In [645]:
# Check Merged DataFrame
merged_dBreaches_df

,id,organisation,records lost,month,year,sector,method,data sensitivity,story,source name,source link,city,country,latitude,longitude,coordinates
0,418,Plex,15000000,Aug,2022,web,hacked,1,"Intruders access password data, usernames, and...",Ars technica,https://arstechnica.com/information-technology...,Los Gatos,USA,37.235000,-121.962900,"[37.235, -121.9629]"
1,419,Twitter,5400000,Dec,2021,web,hacked,2,Zero day vulnerability allowed a threat actor ...,Bleeping Computer,https://www.bleepingcomputer.com/news/security...,San Francisco,USA,37.774900,-122.419400,"[37.7749, -122.4194]"
2,271,Twitter,330000000,May,2018,tech,poor security,1,A glitch caused some passwords to be stored in...,Reuters,https://www.reuters.com/article/us-twitter-pas...,San Francisco,USA,37.774900,-122.419400,"[37.7749, -122.4194]"
3,146,Twitter,250000,Feb,2013,web,hacked,1,A Java vulnerability gave hackers access to so...,CNN,https://edition.cnn.com/2013/02/01/tech/social...,San Francisco,USA,37.774900,-122.419400,"[37.7749, -122.4194]"
4,420,Shanghai Police,500000000,Jul,2022,financial,hacked,5,A database containing records of over a billio...,The Register,https://www.theregister.com/2022/07/05/shangha...,Shanghai,China,31.230400,121.473700,"[31.2304, 121.4737]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,9,US Dept of Vet Affairs,26500000,Jul,2006,government,lost device,2,The Veterans Affairs Department agreed to pay ...,"GCN, US Gov",http://gcn.com/Articles/2009/02/02/VA-data-bre...,Washington,USA,47.751100,-120.740100,"[47.7511, -120.7401]"
341,8,Automatic Data Processing,125000,Jul,2006,finance,poor security,2,"Automatic Data Processing, one of the world's ...",ABC News,http://abcnews.go.com/Technology/story?id=2160...,Roseland,USA,40.820100,-74.302400,"[40.8201, -74.3024]"
342,7,KDDI,4000000,Jun,2006,telecoms,hacked,1,Tokyo police arrested two men for trying to ex...,Computer World,http://www.computerworld.com/s/article/9001150...,Tokyo,Japan,35.682839,139.759455,"[35.682839, 139.759455]"
343,6,Hewlett Packard,200000,Mar,2006,tech,lost device,2,A laptop containing employee data was either l...,Computer Weekly,https://www.computerweekly.com/news/2240076956...,Palo Alto,USA,37.441900,-122.143000,"[37.4419, -122.143]"
344,5,Ameritrade Inc.,200000,Apr,2005,finance,lost device,2,A computer backup tape containing the personal...,NBC,http://www.nbcnews.com/id/7561268/,Omaha,USA,41.256500,-95.934500,"[41.2565, -95.9345]"

In [646]:
# Drop Rows containing NaNs from Merged DataFrame
cleaned_dBreaches_df = merged_dBreaches_df.dropna()

In [647]:
# Check Cleaned Merged DataFrame
cleaned_dBreaches_df

,id,organisation,records lost,month,year,sector,method,data sensitivity,story,source name,source link,city,country,latitude,longitude,coordinates
0,418,Plex,15000000,Aug,2022,web,hacked,1,"Intruders access password data, usernames, and...",Ars technica,https://arstechnica.com/information-technology...,Los Gatos,USA,37.235000,-121.962900,"[37.235, -121.9629]"
1,419,Twitter,5400000,Dec,2021,web,hacked,2,Zero day vulnerability allowed a threat actor ...,Bleeping Computer,https://www.bleepingcomputer.com/news/security...,San Francisco,USA,37.774900,-122.419400,"[37.7749, -122.4194]"
2,271,Twitter,330000000,May,2018,tech,poor security,1,A glitch caused some passwords to be stored in...,Reuters,https://www.reuters.com/article/us-twitter-pas...,San Francisco,USA,37.774900,-122.419400,"[37.7749, -122.4194]"
3,146,Twitter,250000,Feb,2013,web,hacked,1,A Java vulnerability gave hackers access to so...,CNN,https://edition.cnn.com/2013/02/01/tech/social...,San Francisco,USA,37.774900,-122.419400,"[37.7749, -122.4194]"
4,420,Shanghai Police,500000000,Jul,2022,financial,hacked,5,A database containing records of over a billio...,The Register,https://www.theregister.com/2022/07/05/shangha...,Shanghai,China,31.230400,121.473700,"[31.2304, 121.4737]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,9,US Dept of Vet Affairs,26500000,Jul,2006,government,lost device,2,The Veterans Affairs Department agreed to pay ...,"GCN, US Gov",http://gcn.com/Articles/2009/02/02/VA-data-bre...,Washington,USA,47.751100,-120.740100,"[47.7511, -120.7401]"
341,8,Automatic Data Processing,125000,Jul,2006,finance,poor security,2,"Automatic Data Processing, one of the world's ...",ABC News,http://abcnews.go.com/Technology/story?id=2160...,Roseland,USA,40.820100,-74.302400,"[40.8201, -74.3024]"
342,7,KDDI,4000000,Jun,2006,telecoms,hacked,1,Tokyo police arrested two men for trying to ex...,Computer World,http://www.computerworld.com/s/article/9001150...,Tokyo,Japan,35.682839,139.759455,"[35.682839, 139.759455]"
343,6,Hewlett Packard,200000,Mar,2006,tech,lost device,2,A laptop containing employee data was either l...,Computer Weekly,https://www.computerweekly.com/news/2240076956...,Palo Alto,USA,37.441900,-122.143000,"[37.4419, -122.143]"
344,5,Ameritrade Inc.,200000,Apr,2005,finance,lost device,2,A computer backup tape containing the personal...,NBC,http://www.nbcnews.com/id/7561268/,Omaha,USA,41.256500,-95.934500,"[41.2565, -95.9345]"

## Exploratory Data Analysis

In [648]:
# Method Value Count
method_count = cleaned_dBreaches_df['method'].value_counts()
method_count

hacked           235
lost device       42
poor security     33
accident          19
inside job        15
lost device        1
Name: method, dtype: int64

In [649]:
# Records Lost by Data Breach Methods
methods_groupby = cleaned_dBreaches_df.groupby(['method'])['records lost'].describe()
methods_groupby

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
accident,19.0,4.529128e+06,6.603499e+06,30.0,500000.00,2400000.0,5595198.0,24000000.0
hacked,235.0,3.894603e+07,1.025595e+08,1025.0,725000.00,4600000.0,25000000.0,700000000.0
inside job,15.0,1.059109e+07,2.316554e+07,89000.0,1250000.00,2500000.0,8568702.5,92000000.0
lost device,1.0,6.900000e+06,NaN,6900000.0,6900000.00,6900000.0,6900000.0,6900000.0
lost device,42.0,2.994805e+06,5.946929e+06,34000.0,165027.75,800000.0,2900000.0,26500000.0
poor security,33.0,8.682506e+07,1.467572e+08,50000.0,1000000.00,14000000.0,100000000.0,550000000.0

In [650]:
# Sector Value Count
sector_count = cleaned_dBreaches_df['sector'].value_counts()
sector_count

web           92
health        37
retail        36
government    35
finance       34
tech          19
telecoms      18
app           16
transport     15
gaming        15
misc          11
academic      11
financial      3
NGO            1
legal          1
military       1
Name: sector, dtype: int64

In [651]:
# Data sensitivity Value Count
data_sensitivity_count = cleaned_dBreaches_df['data sensitivity'].value_counts()
data_sensitivity_count

1    112
2    107
3     58
4     47
5     21
Name: data sensitivity, dtype: int64

In [652]:
# Check the Most Serious Data Breaches (i.e Data Sensitivity of 5)
serious_breaches = cleaned_dBreaches_df.loc[cleaned_dBreaches_df['data sensitivity'] == 5]
serious_breaches

,id,organisation,records lost,month,year,sector,method,data sensitivity,story,source name,source link,city,country,latitude,longitude,coordinates
4,420,Shanghai Police,500000000,Jul,2022,financial,hacked,5,A database containing records of over a billio...,The Register,https://www.theregister.com/2022/07/05/shangha...,Shanghai,China,31.2304,121.4737,"[31.2304, 121.4737]"
26,391,Epik,15000000,Sep,2021,retail,hacked,5,An Internet-services company for concealing on...,Ars Technica,https://arstechnica.com/information-technology...,Sammamish,USA,47.6163,-122.0356,"[47.6163, -122.0356]"
57,363,GEDmatch,1400000,Sep,2020,misc,hacked,5,DNA data on up to 1.4m users of this geneaolog...,New York Times,https://www.nytimes.com/2020/08/01/technology/...,Lake Worth,USA,26.6168,-80.0684,"[26.6168, -80.0684]"
83,333,Vårdguiden,2700000,Feb,2019,health,poor security,5,"170,000 hours of sensitive calls to Sweden's h...",ComputerSweden,https://computersweden.idg.se/2.2683/1.714787/...,Stockholm,Sweden,59.3293,18.0686,"[59.3293, 18.0686]"
109,305,Suprema,27800000,Aug,2019,tech,poor security,5,A biometric security company stored unencrypte...,Guardian,https://www.theguardian.com/technology/2019/au...,Seoul,South Korea,37.5665,126.9780,"[37.5665, 126.978]"
131,277,Firebase,100000000,Jun,2018,app,poor security,5,Misconfigured databases used by app developers...,Bleeping Computer,https://www.bleepingcomputer.com/news/security...,San Francisco,USA,37.7749,-122.4194,"[37.7749, -122.4194]"
153,246,Swedish Transport Agency,3000000,Jul,2017,government,poor security,5,All Swedish driving license data was made avai...,The Local,https://www.thelocal.se/20170717/swedish-autho...,Borlänge,Sweden,60.4849,15.4251,"[60.4849, 15.4251]"
164,229,Mossack Fonseca,11500000,Apr,2016,misc,hacked,5,A hacker took 2.6TB of data from the Panamania...,PanamaPapers,http://panamapapers.sueddeutsche.de/articles/5...,Panama City,Panama,8.9824,-79.5199,"[8.9824, -79.5199]"
165,228,Philippines’ Commission on Elections,55000000,Apr,2016,government,hacked,5,After a message was posted on the COMELEC webs...,Trend Micro,http://blog.trendmicro.com/trendlabs-security-...,Manila,Philippines,14.5995,120.9842,"[14.5995, 120.9842]"
174,215,Mutuelle Generale de la Police,112000,Jun,2016,health,inside job,5,Personal details of French police officers wer...,BBC News,http://www.bbc.co.uk/news/world-europe-36645519,Paris,France,48.8566,2.3522,"[48.8566, 2.3522]"
186,201,ClixSense,6600000,Sep,2016,web,hacked,5,A service which pays people to view adverts an...,Digital trends,http://www.digitaltrends.com/computing/clixsen...,Yuba City,USA,39.1404,-121.6169,"[39.1404, -121.6169]"
188,198,Premera,11000000,Mar,2015,health,hacked,5,The health insurance firm revealed that its IT...,Computer Weekly,https://www.computerweekly.com/news/2240242508...,Mountlake Terrace,USA,47.7915,-122.3076,"[47.7915, -122.3076]"
192,192,VTech,6400000,Dec,2015,web,hacked,5,The toy maker was targeted by a hacker who sto...,The Guardian,http://www.theguardian.com/technology/2015/dec...,Hong Kong,Hong Kong,22.3193,114.1694,"[22.3193, 114.1694]"
193,191,Hacking Team,500000,Jul,2015,web,hacked,5,An Italian hacking firm which sells digital su...,The Guardian,http://www.theguardian.com/technology/2015/jul...,Milan,Italy,45.4642,9.1900,"[45.4642, 9.19]"
195,189,US Office of Personnel Management (2nd Breach),21500000,Jul,2015,government,hacked,5,Hackers with suspected links to China accessed...,BBC News,http://www.bbc.co.uk/news/world-us-canada-3312...,Washington,USA,38.8951,-77.0369,"[38.8951, -77.0369]"
200,183,Securus Technologies,70000000,Nov,2015,web,hacked,5,An anonymous hacker leaked records of over 70m...,The Intercept,https://theintercept.com/2015/11/11/securus-ha...,Carrollton,USA,32.9756,-96.8892,"[32.9756, -96.8892]"
224,159,Korea Credit Bureau,20000000,Jan,2014,finance,inside job,5,An employee was accused of of stealing data fr...,Security Week,http://www.securityweek.com/20-million-people-...,Seoul,South Korea,37.5665,126.9780,"[37.5665, 126.978]"
245,136,National Security Agency,1500000,Jun,2013,government,inside job,5,"Edward Snowden, an intelligence contractor in ...",Business Insider,http://uk.businessinsider.com/snowden-leaks-ti...,Fort Meade,USA,39.1096,-76.7446,"[39.1096, -76.7446]"
273,96,"South Shore Hospital, Massachusetts",800000,Sep,2011,health,lost device,5,South Shore Hospital hired a contractor to des...,Boston Globe,https://www.infosecurity-magazine.com/news/sou...,South Weymouth,USA,42.2209,-70.9410,"[42.2209, -70.941]"
319,33,RBS Worldpay,1500000,Dec,2008,finance,hacked,5,A hack compromised RBS Worldpay prepay and gif...,The Register,http://www.theregister.co.uk/2008/12/29/rbs_wo...,Atlanta,USA,33.7490,-84.3880,"[33.749, -84.388]"
327,24,UK Ministry of Defence,1700000,Oct,2008,government,lost device,5,A hard drive containing sensitive details of A...,BBC News,http://news.bbc.co.uk/1/hi/uk_politics/7667507...,London,United Kingdom,51.5074,-0.1278,"[51.5074, -0.1278]"

In [653]:
# Sector Records Lost Summary
sector_groupby = cleaned_dBreaches_df.groupby('sector')['records lost'].describe()
sector_groupby

,count,mean,std,min,25%,50%,75%,max
sector,,,,,,,,
NGO,1.0,5.000000e+05,NaN,500000.0,500000.0,500000.0,5.000000e+05,500000.0
academic,11.0,5.411818e+05,8.201417e+05,43000.0,73500.0,146000.0,4.800000e+05,2200000.0
app,16.0,3.148244e+07,4.967304e+07,309000.0,500000.0,2055000.0,5.175000e+07,150000000.0
finance,34.0,2.232497e+07,5.087761e+07,34000.0,325000.0,2550000.0,5.975000e+06,220000000.0
financial,3.0,1.688604e+08,2.867804e+08,1580249.0,3290593.0,5000937.0,2.525005e+08,500000000.0
gaming,15.0,1.496605e+07,2.255347e+07,200000.0,2645377.5,7000000.0,1.250000e+07,77000000.0
government,35.0,2.147778e+07,9.260192e+07,30.0,265738.5,3000000.0,6.250000e+06,550000000.0
health,37.0,2.500211e+06,4.036160e+06,34000.0,231400.0,1000000.0,3.000000e+06,20000000.0
legal,1.0,4.101101e+06,NaN,4101101.0,4101101.0,4101101.0,4.101101e+06,4101101.0
military,1.0,9.350000e+05,NaN,935000.0,935000.0,935000.0,9.350000e+05,935000.0
misc,11.0,8.295580e+06,1.420255e+07,110000.0,1335000.0,2200000.0,1.055000e+07,49000000.0
retail,36.0,2.499094e+07,6.555040e+07,1025.0,600000.0,4400000.0,2.066365e+07,383000000.0
tech,19.0,9.022219e+07,1.772340e+08,50000.0,237500.0,3000000.0,3.290000e+07,533000000.0
telecoms,18.0,3.324356e+07,1.167856e+08,113000.0,177500.0,2200000.0,9.675000e+06,500000000.0
transport,15.0,1.207072e+07,2.366975e+07,10000.0,725000.0,4500000.0,1.250000e+07,94000000.0
web,92.0,6.588037e+07,1.278260e+08,40000.0,4375000.0,19000000.0,5.000000e+07,700000000.0

In [654]:
# Sector Data Sensitivity Summary
sector_sens_groupby = cleaned_dBreaches_df.groupby('sector')['data sensitivity'].describe()
sector_sens_groupby

            count      mean       std  min   25%  50%   75%  max
sector
NGO           1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0
academic     11.0  2.545455  0.820200  2.0  2.00  2.0  3.00  4.0
app          16.0  2.000000  1.211060  1.0  1.00  2.0  2.25  5.0
finance      34.0  2.647059  1.124988  1.0  2.00  3.0  3.00  5.0
financial     3.0  3.333333  1.527525  2.0  2.50  3.0  4.00  5.0
gaming       15.0  1.733333  0.961150  1.0  1.00  1.0  2.00  4.0
government   35.0  2.571429  1.289909  1.0  2.00  2.0  3.50  5.0
health       37.0  3.405405  1.141623  1.0  2.00  4.0  4.00  5.0
legal         1.0  1.000000       NaN  1.0  1.00  1.0  1.00  1.0
military      1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0
misc         11.0  2.545455  1.368476  1.0  2.00  2.0  3.00  5.0
retail       36.0  2.305556  0.980363  1.0  1.75  2.0  3.00  5.0
tech         19.0  1.894737  1.196975  1.0  1.00  1.0  2.50  5.0
telecoms     18.0  1.777778  0.942809  1.0  1.00  1.5  2.00  4.0
transport    15.0  2.133333  0.833809  1.0  2.00  2.0  2.50  4.0
web          92.0  1.869565  1.188011  1.0  1.00  1.0  2.00  5.0

In [655]:
# Sector + Data Sensitivity Summary
sector_sens_index = cleaned_dBreaches_df.groupby(['sector', 'data sensitivity'])['records lost'].describe()
sector_sens_index

                             count          mean           std          min  \
sector     data sensitivity
NGO        4                   1.0  5.000000e+05           NaN     500000.0
academic   2                   7.0  1.847143e+05  2.561066e+05      43000.0
           3                   2.0  1.130000e+06  1.371787e+06     160000.0
           4                   2.0  1.200000e+06  1.414214e+06     200000.0
app        1                   7.0  4.717143e+07  6.400083e+07     500000.0
           2                   5.0  3.763800e+06  5.790264e+06     309000.0
           3                   2.0  2.650000e+07  3.323402e+07    3000000.0
           4                   1.0  1.700000e+06           NaN    1700000.0
           5                   1.0  1.000000e+08           NaN  100000000.0
finance    1                   6.0  3.458333e+06  2.434423e+06     450000.0
           2                   9.0  2.719389e+07  7.243563e+07     125000.0
           3                  12.0  2.703700e+07  4.671166e+07      34000.0
           4                   5.0  2.952200e+07  6.344522e+07      40000.0
           5                   2.0  1.075000e+07  1.308148e+07    1500000.0
financial  2                   1.0  5.000937e+06           NaN    5000937.0
           3                   1.0  1.580249e+06           NaN    1580249.0
           5                   1.0  5.000000e+08           NaN  500000000.0
gaming     1                   8.0  1.403750e+07  2.569502e+07     200000.0
           2                   4.0  1.932269e+07  2.635780e+07    1290755.0
           3                   2.0  1.245000e+07  1.718269e+07     300000.0
           4                   1.0  1.000000e+07           NaN   10000000.0
government 1                   5.0  6.994895e+06  1.036102e+07     100000.0
           2                  19.0  4.005837e+06  6.105315e+06      50500.0
           3                   2.0  3.785000e+05  1.718269e+05     257000.0
           4                   4.0  1.392950e+08  2.738219e+08         30.0
           5                   5.0  1.654000e+07  2.309509e+07    1500000.0
health     1                   2.0  5.550000e+06  6.293250e+06    1100000.0
           2                   9.0  1.771698e+06  1.900559e+06      93689.0
           3                   2.0  2.800000e+06  1.272792e+06    1900000.0
           4                  20.0  2.262526e+06  4.649674e+06      34000.0
           5                   4.0  3.653000e+06  5.018795e+06     112000.0
legal      1                   1.0  4.101101e+06           NaN    4101101.0
military   3                   1.0  9.350000e+05           NaN     935000.0
misc       1                   2.0  2.570000e+07  3.295118e+07    2400000.0
           2                   5.0  4.928275e+06  5.168308e+06     471376.0
           3                   2.0  1.155000e+06  1.477853e+06     110000.0
           5                   2.0  6.450000e+06  7.141778e+06    1400000.0
retail     1                   9.0  5.009712e+06  9.085169e+06     150000.0
           2                  10.0  1.221910e+07  1.933991e+07      97000.0
           3                  15.0  4.782528e+07  9.731915e+07       1025.0
           4                   1.0  1.630000e+04           NaN      16300.0
           5                   1.0  1.500000e+07           NaN   15000000.0
tech       1                  10.0  1.620932e+08  2.248026e+08      50000.0
           2                   4.0  4.812500e+06  7.580718e+06      50000.0
           3                   3.0  1.466667e+07  2.023199e+07    2000000.0
           4                   1.0  2.240000e+06           NaN    2240000.0
           5                   1.0  2.780000e+07           NaN   27800000.0
telecoms   1                   9.0  7.480778e+06  1.079941e+07     113000.0
           2                   5.0  2.331400e+06  3.702476e+06     130000.0
           3                   3.0  6.466667e+06  7.392789e+06    2000000.0
           4                   1.0  5.000000e+08           NaN  500000000.0
transport  1                   3.0  1.133667e+07  9.860022e+06      10000.0
           2                   8.0  5.406250e+06  6.524593e+06     700000.0
           3                   3.0  3.447362e+07  5.172951e+07     420873.0
           4                   1.0  3.800000e+05           NaN     380000.0
web        1                  50.0  6.205068e+07  1.180760e+08     250000.0
           2                  21.0  1.173655e+08  1.843644e+08      76000.0
           3                   8.0  1.056162e+07  1.337749e+07      40000.0
           4                   9.0  3.619897e+07  5.306580e+07     790724.0
           5                   4.0  2.087500e+07  3.287201e+07     500000.0

                                      25%          50%          75%  \
sector     data sensitivity
NGO        4                 5.000000e+05     500000.0     500000.0
academic   2                 7.250000e+04      74000.0     135500.0
           3                 6.450000e+05    1130000.0    1615000.0
           4                 7.000000e+05    1200000.0    1700000.0
app        1                 5.000000e+05    1700000.0   88500000.0
           2                 4.000000e+05    1710000.0    2400000.0
           3                 1.475000e+07   26500000.0   38250000.0
           4                 1.700000e+06    1700000.0    1700000.0
           5                 1.000000e+08  100000000.0  100000000.0
finance    1                 1.375000e+06    4250000.0    4875000.0
           2                 2.000000e+05    2500000.0    4200000.0
           3                 3.750000e+05    2050000.0   25375000.0
           4                 2.700000e+05    1600000.0    2700000.0
           5                 6.125000e+06   10750000.0   15375000.0
financial  2                 5.000937e+06    5000937.0    5000937.0
           3                 1.580249e+06    1580249.0    1580249.0
           5                 5.000000e+08  500000000.0  500000000.0
gaming     1                 3.125000e+06    6000000.0    8450000.0
           2                 3.322689e+06    9000000.0   25000000.0
           3                 6.375000e+06   12450000.0   18525000.0
           4                 1.000000e+07   10000000.0   10000000.0
government 1                 2.744770e+05    3600000.0    6000000.0
           2                 1.300000e+05    3000000.0    5095198.0
           3                 3.177500e+05     378500.0     439250.0
           4                 2.100075e+05    3590000.0  142675000.0
           5                 1.700000e+06    3000000.0   21500000.0
health     1                 3.325000e+06    5550000.0    7775000.0
           2                 2.314000e+05    1023209.0    4000000.0
           3                 2.350000e+06    2800000.0    3250000.0
           4                 2.160278e+05     457165.0    1625000.0
           5                 6.280000e+05    1750000.0    4775000.0
legal      1                 4.101101e+06    4101101.0    4101101.0
military   3                 9.350000e+05     935000.0     935000.0
misc       1                 1.405000e+07   25700000.0   37350000.0
           2                 1.270000e+06    1800000.0   10000000.0
           3                 6.325000e+05    1155000.0    1677500.0
           5                 3.925000e+06    6450000.0    8975000.0
retail     1                 6.000000e+05     900000.0    5000000.0
           2                 4.122500e+05    3150000.0   10450000.0
           3                 3.000000e+06    5000000.0   50500000.0
           4                 1.630000e+04      16300.0      16300.0
           5                 1.500000e+07   15000000.0   15000000.0
tech       1                 1.486895e+05   12200000.0  297500000.0
           2                 1.625000e+05    1600000.0    6250000.0
           3                 3.000000e+06    4000000.0   21000000.0
           4                 2.240000e+06    2240000.0    2240000.0
           5                 2.780000e+07   27800000.0   27800000.0
telecoms   1                 2.000000e+05    2000000.0   10000000.0
           2                 1.570000e+05     170000.0    2500000.0
           3                 2.200000e+06    2400000.0    8700000.0
           4                 5.000000e+08  500000000.0  500000000.0
transport  1                 8.005000e+06   16000000.0   17000000.0
           2                 2.512500e+06    3900000.0    4925000.0
           3                 4.710436e+06    9000000.0   51500000.0
           4                 3.800000e+05     380000.0     380000.0
web        1                 6.000000e+06   21000000.0   61250000.0
           2                 5.400000e+06   25000000.0  139000000.0
           3                 8.032500e+05    3000000.0   19500000.0
           4                 3.000000e+06   17500000.0   40000000.0
           5                 4.925000e+06    6500000.0   22450000.0

                                     max
sector     data sensitivity
NGO        4                    500000.0
academic   2                    760000.0
           3                   2100000.0
           4                   2200000.0
app        1                 150000000.0
           2                  14000000.0
           3                  50000000.0
           4                   1700000.0
           5                 100000000.0
finance    1                   6300000.0
           2                 220000000.0
           3                 130000000.0
           4                 143000000.0
           5                  20000000.0
financial  2                   5000937.0
           3                   1580249.0
           5                 500000000.0
gaming     1                  77000000.0
           2                  58000000.0
           3                  24600000.0
           4                  10000000.0
government 1                  25000000.0
           2                  26500000.0
           3                    500000.0
           4                 550000000.0
           5                  55000000.0
health     1                  10000000.0
           2                   4500000.0
           3                   3700000.0
           4                  20000000.0
           5                  11000000.0
legal      1                   4101101.0
military   3                    935000.0
misc       1                  49000000.0
           2                  11100000.0
           3                   2200000.0
           5                  11500000.0
retail     1                  28000000.0
           2                  57000000.0
           3                 383000000.0
           4                     16300.0
           5                  15000000.0
tech       1                 533000000.0
           2                  16000000.0
           3                  38000000.0
           4                   2240000.0
           5                  27800000.0
telecoms   1                  32000000.0
           2                   8700000.0
           3                  15000000.0
           4                 500000000.0
transport  1                  18000000.0
           2                  21000000.0
           3                  94000000.0
           4                    380000.0
web        1                 700000000.0
           2                 550000000.0
           3                  35000000.0
           4                 171000000.0
           5                  70000000.0

In [656]:
# Unique Sectors
cleaned_dBreaches_df['sector'].unique()

array(['web', 'tech', 'financial', 'government', 'retail', 'NGO', 'misc',
       'transport', 'legal', 'gaming', 'health', 'telecoms', 'app',
       'finance', 'academic', 'military'], dtype=object)

In [657]:
# Sector Value Counts
cleaned_dBreaches_df['sector'].value_counts()

web           92
health        37
retail        36
government    35
finance       34
tech          19
telecoms      18
app           16
transport     15
gaming        15
misc          11
academic      11
financial      3
NGO            1
legal          1
military       1
Name: sector, dtype: int64

In [658]:
# Records Lost by Country
country_groupby = cleaned_dBreaches_df.groupby('country')['records lost'].describe()
country_groupby

,count,mean,std,min,25%,50%,75%,max
country,,,,,,,,
Australia,4.0,3.493751e+07,6.937537e+07,30.0,150007.5,375000.0,3.516250e+07,139000000.0
Belgium,1.0,7.000000e+05,NaN,700000.0,700000.0,700000.0,7.000000e+05,700000.0
Brazil,2.0,1.260000e+08,1.329361e+08,32000000.0,79000000.0,126000000.0,1.730000e+08,220000000.0
Bulgaria,1.0,5.000000e+06,NaN,5000000.0,5000000.0,5000000.0,5.000000e+06,5000000.0
Canada,7.0,9.069000e+06,1.322808e+07,283000.0,1750000.0,3700000.0,9.500000e+06,37000000.0
Chile,1.0,6.000000e+06,NaN,6000000.0,6000000.0,6000000.0,6.000000e+06,6000000.0
China,4.0,1.371000e+08,2.425257e+08,2400000.0,5100000.0,23000000.0,1.550000e+08,500000000.0
Estonia,1.0,2.800000e+05,NaN,280000.0,280000.0,280000.0,2.800000e+05,280000.0
France,6.0,2.406367e+07,3.781313e+07,112000.0,217500.0,435000.0,4.365000e+07,85200000.0
Germany,9.0,2.392222e+07,3.673288e+07,3300000.0,5000000.0,16000000.0,2.000000e+07,120000000.0
Greece,1.0,9.000000e+06,NaN,9000000.0,9000000.0,9000000.0,9.000000e+06,9000000.0
Hong Kong,3.0,3.470000e+07,5.137305e+07,3700000.0,5050000.0,6400000.0,5.020000e+07,94000000.0
India,6.0,1.064868e+08,2.179439e+08,420873.0,7625000.0,17500000.0,4.125000e+07,550000000.0
Indonesia,1.0,4.713760e+05,NaN,471376.0,471376.0,471376.0,4.713760e+05,471376.0
Israel,4.0,2.555847e+07,4.455269e+07,450000.0,2362500.0,4750000.0,2.794597e+07,92283889.0
Italy,3.0,1.005433e+06,1.316734e+06,16300.0,258150.0,500000.0,1.500000e+06,2500000.0
Japan,11.0,4.508015e+06,6.269396e+06,300000.0,1020377.5,3100000.0,4.000000e+06,22000000.0
Luxembourg,1.0,7.907240e+05,NaN,790724.0,790724.0,790724.0,7.907240e+05,790724.0
Netherlands,1.0,6.900000e+06,NaN,6900000.0,6900000.0,6900000.0,6.900000e+06,6900000.0
Norway,2.0,3.475000e+06,6.717514e+05,3000000.0,3237500.0,3475000.0,3.712500e+06,3950000.0
Panama,1.0,1.150000e+07,NaN,11500000.0,11500000.0,11500000.0,1.150000e+07,11500000.0
Philippines,1.0,5.500000e+07,NaN,55000000.0,55000000.0,55000000.0,5.500000e+07,55000000.0
Puerto Rico,1.0,3.980000e+05,NaN,398000.0,398000.0,398000.0,3.980000e+05,398000.0
Russia,5.0,4.474364e+07,7.115860e+07,1500000.0,8000000.0,18218203.0,2.500000e+07,171000000.0
Serbia,1.0,5.190396e+06,NaN,5190396.0,5190396.0,5190396.0,5.190396e+06,5190396.0
Singapore,1.0,1.500000e+06,NaN,1500000.0,1500000.0,1500000.0,1.500000e+06,1500000.0
South Africa,1.0,2.400000e+07,NaN,24000000.0,24000000.0,24000000.0,2.400000e+07,24000000.0
South Korea,7.0,1.554286e+07,6.818078e+06,8700000.0,10550000.0,13200000.0,1.900000e+07,27800000.0
Sri Lanka,1.0,1.580249e+06,NaN,1580249.0,1580249.0,1580249.0,1.580249e+06,1580249.0
Sweden,4.0,3.300000e+06,2.706782e+06,500000.0,2150000.0,2850000.0,4.000000e+06,7000000.0
Switzerland,1.0,5.000000e+05,NaN,500000.0,500000.0,500000.0,5.000000e+05,500000.0
Syria,1.0,2.744770e+05,NaN,274477.0,274477.0,274477.0,2.744770e+05,274477.0
Turkey,1.0,2.700000e+06,NaN,2700000.0,2700000.0,2700000.0,2.700000e+06,2700000.0
USA,216.0,4.384984e+07,1.108013e+08,1025.0,500000.0,4000000.0,2.725000e+07,700000000.0
United Arab Emirates,2.0,7.020000e+06,9.871211e+06,40000.0,3530000.0,7020000.0,1.051000e+07,14000000.0
United Kingdom,32.0,5.122234e+06,1.077674e+07,10000.0,190000.0,950000.0,2.550000e+06,43500000.0

In [659]:
# Most Breaches by Organisation
cleaned_dBreaches_df['organisation'].value_counts()

Facebook                  10
Citigroup                  3
Twitter                    3
AOL                        3
Yahoo                      3
                          ..
Saks and Lord & Taylor     1
MyHeritage                 1
Dixons Carphone            1
Panerabread                1
Ameritrade Inc.            1
Name: organisation, Length: 319, dtype: int64

## Export DataFrame to CSV

In [660]:
# Export Summary DF to csv file
cleaned_dBreaches_df.to_csv('../Resources/complete_data_breaches.csv', index=False, header=True)